.wrapper {
  padding: 8px;
  max-width: 1024px;
  margin: 0 auto;
}

.answers {
  text-align: right;
  margin: 16px 0;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.btn {
  margin: 8px;
  height: 48px;
}

.buttons {
  margin-bottom: 4px;
  text-align: center;
}

.input-wrapper {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 8px;
  min-width: 256px;
}